@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  color: #FC9C54;
}

.place {
  background: #FBEEC1;
  width: 900px;
  padding: 20px;
  border: 10px;
  margin: 0 auto;
  margin-Top: 30px;
  border-Radius: 10px;
  display: flex
}

.places {
  /* display: flex;
  flex-wrap: wrap; */
}